html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px /* Height of the footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer .container .text-muted {
    margin: 20px;
}
